# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Optional: if using GitHub Pages, you can ignore the Gemfile.lock
# as GitHub strictly versions dependencies on their build server
# Gemfile.lock
