plugins:
  - jekyll-relative-links
relative_links:
  enabled: true
  collections: true
include:
  - README.md
  - LICENSE
markdown: kramdown
sass:
  sass_dir: _sass
  style: compressed
remote_theme: flancast90/millidocs-dark